@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: PT Sans;
}

.scrollbar::-webkit-scrollbar {
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hiddenScrollbar::-webkit-scrollbar {
  height: 6px;
}

.hiddenScrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.arrow-left {
  filter: drop-shadow(-3px 1px 2px black);
}
.arrow-right {
  filter: drop-shadow(3px 1px 2px black);
}
